.section {
  display: flex;
  align-items: flex-start;
  padding: 2rem 25px;
  width: 100%;
  flex-direction: column;
  height: calc(100vh - 300px);
}

.section h1 {
  padding-left: 25px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px;
  gap: 20px;
  height: 100%;
  overflow: hidden;
}

.editor {
  flex: 1.5 1 100%;
  border: 1px solid #8f8f8f;
  border-radius: 3px;
}

.switches {
  display: flex;
  flex-direction: column;
  flex: 1 1.5 100%;
  height: 100%;
  overflow: scroll;
  padding: 10px 20px;
  background: var(--ifm-code-background);
  border-radius: 10px;
}

.highlightAreas {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

.currentValues {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rangeContainer {
  padding: 5px 10px;

  border-radius: 10px;
}