body{
  width: 100%;
  height: 100vh;
}
#container {
  width : 800px;
  height: 600px;
  border: 1px solid red;
}
.singleLineEditableArea {
  background: rgb(146, 204, 146);
}
.multiLineEditableArea {
  background: rgb(228, 182, 140);
}