body{
  width: 100%;
  height: 100vh;
}
#container {
  width : 800px;
  height: 600px;
  border: 1px solid red;
}
.singleLineEditableArea {
  background: rgb(218, 171, 214);
}
.multiLineEditableArea {
  background: rgb(176, 234, 241);
}